*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     background-color: #f2f1eb;
/*
colors #f2f1eb
#343f4f darkest
#df7269 redish highlight
font color #5e6577
*/
}

.homepage {

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    /* flex-flow: row nowrap; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;

    height: 100%;



  }



  .sidebar {
    /* flex:1 1 auto; */
    flex-grow:1.5;
    height: 100vh;
    display: flex;
    background-color:#343f4f;
    postion: sticky;
  }

  .main {
    /* flex:5 1 auto; */
    flex-grow:5;
    background-color: #f2f1eb
    display: flex;
    height: 100vh;
  }
