* {
    box-sizing: border-box;
    margin: 0;
html{
    font-size: 75%;
}
}
.flex-container {
   display: flex;
   justify-content: center;
   align-items: center;
   /* flex-flow: column wrap; */
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   background-color: #bbdefb;
   height: 100vh;
   margin: 0;
   gap: 5px;

 }

 .flex-container  div{
   background-color: #ffecb3;
   border: 3px solid #ffcc80;
   border-radius: 5px;
   padding: 8px;

 }


 .item1 {
   /* flex:0 1 auto; */
   flex-shrink:1;
   align-self:center;
   font-size:3vw;
 }

div.quote2 {
    justify-content: center;
    align-content: center;
    flex-direction: row;
    color:blue;
    display: flex;
    font-size:3vw
}

span.static_quote{
flex-grow:4;

}
span.ani_quote{
flex-grow:1;
}
