body{
    clear: both;
}
h1{
    color: purple;
}
section{
    border: solid 5px;
    width: 500px;
    height: 500px
    clear: both;
    
}
article.Test{
    border: solid green 3px;
    width: 25%;
    height: 100px
    float:left;
    clear: both;


}
article{
    border: blue solid 1px;
    width: 70%;
    height: 50px;
    float:right;


}
/**********************<(TAGS SELECTORS)>**************************/


/**********************<(CLASS SELECTORS)>**************************/


/**********************<(ID SELECTORS)>**************************/
