@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
/*
colors #f2f1eb
#343f4f darkest
#df7269 redish highlight
font color #5e6577
*/

html{
    font-size: 100%;
}
