@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
/*
colors #f2f1eb
#343f4f darkest
#df7269 redish highlight
font color #5e6577
*/

html{
    font-size: 100%;
}

body{
    background-color: #f2f1eb;
}

}


.flex-container {

  display: flex;

  justify-content: center;
  align-items: stretch;
  /* flex-flow: column; */
  flex-direction: column;
  align-content: center;

  background-color: #2f3e46;
  height: 100%;
  padding: 15px;
  gap: 5px;

}

.flex-container > div{
  background: #354f52;
  border: 3px solid #52796f;
  border-radius: 5px;
  padding: 8px;
}


.section1 {
  /* flex:1 1 auto; */
  flex-grow:1;



}

.section2 {
  /* flex:1 1 auto; */
  flex-grow:1;
}

.section3 {
  /* flex:1 1 auto; */
  flex-grow:1;
}

.section4 {
  /* flex:1 1 auto; */
  flex-grow:1;
}

.bio {
    display: flex;

    justify-content: center;
    align-items: stretch;
    /* flex-flow: row wrap; */
    flex-direction: row;
    align-content: stretch;

    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
  }

  .bio > div{
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 8px;
  }


  .profile_pic {
    /* flex:1 1 auto; */
    flex-grow:1;
    color:red;
    display: flex;

    justify-content: space-evenly;
    align-items: stretch;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-self:flex-start

    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
  }


  .profile_article > div{
     background: #ffecb3;
     border: 3px solid #ffcc80;
     border-radius: 5px;
     padding: 8px;
   }


   .mepic {
     /* flex:5 1 auto; */
     flex-grow:1;
    align-self:center;
    display: flex;
    align-items: center;
   align-content: center;
   }
.pic{
    align-self:center;
    flex-grow:1;
    width: 40vh;

}
   .name {
     /* flex:2 1 auto; */
     flex-grow:2;
align-self:center;
   }

   .job {
     /* flex:1 1 auto; */
     flex-grow:1;
     align-self:center;
   }

   .socials {
     /* flex:1 1 auto; */
     flex-grow:1;
     align-self:center;
   }





  .profile_article {
    /* flex:3 1 auto; */
    flex-grow:7;
    color:green;
    align-self:stretch;
    display: flex;

    justify-content: space-evenly;
    /* flex-flow: column nowrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;

    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
  }
  .prof_title {
    /* flex:0 1 auto; */
    flex-grow:0;
    align-self:center;
  }

  .par1 {
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:flex-start;
  }

  .par2 {
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:flex-start;
  }

  .bsec {
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:stretch;
    display: flex;


    justify-content: space-evenly;
    align-items: center;
    /* flex-flow: row nowrap; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;

    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
  }
.interests{
align-self:stretch;
}

.edu {
align-self:stretch;
}

head{
    align-self:center;
}
.sublist{
    color:red;
}
